@font-face {
    font-family: 'ARCADE';
    src: url("fonts/ARCADE.TTF");
}

@font-face {
    font-family: 'Simpsons';
    src: url("fonts/Simpsonfont.otf");
}

@font-face {
    font-family: 'RingM';
    src: url("fonts/RINGM___.TTF");
}

body {
  background-color: #808080;
}


#arcade-test {
  font-family: "arcade";
  font-size: 70px;
  color: #B8B8B8;
}

.ARCADE {
  font-family: "arcade";
}

#movie-test {
  font-family: "RingM";
  color: #B8B8B8;
}

.RingM {
  font-family: "RingM";
}

#show-test {
  font-family: "Simpsons";
  color: #B8B8B8;
}

.Simpsons {
  font-family: "Simpsons";
}


.nav-bar {
  margin-top: 20px;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
  margin-bottom: 50px;
  border-radius: 10px;
  padding-left: 20px;
}

.nav-bar li {
  float: left;
}

.nav-bar li {
  float: left;
}

.menu_ul ul {
  list-style: none;
}

.active {
  font-weight: bold;
}

.nav-bar li a {
  display: block;
  text-decoration: none;
  color: green;
  padding: 10px;
}

.nav-bar li a:hover {
  color: blue;
  background-color: ;
}

/*.jumbotron a  {
 color: white;
 color: #d3d3d3;
}*/

.jumbotron {
  background-color: black;
  background: rgba(238, 238, 238, 0.5);
}

.jumbotron h1 {
  color: #E6DEDC;
}

a:hover {
  text-decoration: none;
}

.pages {
  background-color: #FDFDFD;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.fa-arrow-circle-left, .fa-arrow-circle-right {
  color: white;
  font-size: 40px;
  filter: alpha(opacity=100);
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}

/*Slideshow Code*/

.slideshow-test,
.slideshow-test:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.slideshow-test:after {
    content: '';
    background: transparent url(../pattern.png) repeat top left;
}

.slideshow-test li {
  list-style: none;
}

.slideshow-test li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 17.25s linear infinite 0s;
}

.slideshow-test li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 17.25s linear infinite 0s;
}

.slideshow-test li:nth-child(1) span {
  background-image: url(../movie.jpg);
}
.slideshow-test li:nth-child(2) span {
    background-image: url(../tv_background.jpg);
    animation-delay: 5.75s;
}
.slideshow-test li:nth-child(3) span {
    background-image: url(../console.jpg);
    animation-delay: 11.5s;
}




@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .slideshow-test li span{
	opacity: 1;
}
